body {
    font-family: "Lato", sans-serif;
   
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: rgba(79,195,247 ,0.3);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}


/* .main {
    padding: 0px 10px;
} */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen{
    .main{
        margin-left: 30%; 
    }

    .sidenav{
        width: 30%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: black;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}


.alert_model{
  position: fixed;
  width: 400px;
  top: 60px;
  right: 10px;
}

.card{
    max-width: 400px; /* Sesuaikan lebar card sesuai kebutuhan Anda */
    background-color: rgba(255, 255, 255, 0.8); /* Ini akan memberikan latar belakang transparan pada card */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh; /* Ini akan memastikan card tetap di tengah vertikal bahkan jika konten sedikit */

    background-image: url('../img/ukdw.jpg') !important; /* Ganti 'path/to/rumah.png' dengan lokasi sebenarnya file gambar Anda */
    background-size: cover; /* Ini akan mengatur gambar agar mengisi seluruh latar belakang */
    background-repeat: no-repeat; /* Ini akan mencegah gambar diulang-ulang */

    
   
 }